## **1. 자료형 문제 (1)**

* 문자열 출력

In [40]:
# 1) 이스케이프 문자를 사용하여 '파이썬 '자료형' 완벽 정복!' 문자열 출력
# 주의 사항 : 작은 따옴표만 사용하기!
print('\'파이썬 \'자료형\' 완벽 정복!\'')

'파이썬 '자료형' 완벽 정복!'

In [41]:
# 2) 문자열 반복 연산자를 사용하여 아래와 동일한 문자열 출력('*'문자 20개 사용)
# ********************
# 파이썬 '자료형' 정복
# ********************
print('*' * 20)
print("파이썬 '자료형' 정복")
print('*' * 20)

********************
파이썬 '자료형' 정복
********************

In [12]:
## 문제 의도
star = '*' * 20
sentence = star + '\n파이썬 \'자료형\' 완벽 정복!\n' + star
print(sentence)

********************
파이썬 '자료형' 완벽 정복!
********************

## **2. 자료형 문제 (2)**

* 문자열 인덱싱과 슬라이싱

In [42]:
# 1) sentence 문자열에서 '하' 문자를 출력
sentence = '파이썬 하루만에 끝내보자!'

print(sentence[4])

하

In [43]:
# 2) sentence 문자열에서 '끝내보자' 문자를 출력
sentence = '파이썬 하루만에 끝내보자!'

print(sentence[-5:-1])
print(sentence[9:13])

끝내보자
끝내보자

## **3. 자료형 문제 (3)**

* 문자열 포맷팅

In [44]:
# 1) 숫자 부분에 % 연산자 포맷팅을 사용하여 아래와 동일한 문자열 출력
# 9 x 9 = 81
## [x] 문자열 % 포맷팅
print("%d x %d = %d" % (9, 9, 81))

9 x 9 = 81

In [45]:
# 2) 숫자 부분에 .format 포맷팅을 사용하여 아래와 동일한 문자열 출력
# 9 x 9 = 81

print("{0} x {0} = {1}".format(9, 81))
print("{} x {} = {}".format(9, 9, 81))

9 x 9 = 81
9 x 9 = 81

## **4. 자료형 문제 (4)**

* 문자열 관련 함수

In [46]:
# 1) 함수를 사용하여 '골프'를 '수영'으로 바꾼 문자열 출력
sentence = "운동 : 풋살 승마 골프"

print(sentence.replace("골프", "수영"))

운동 : 풋살 승마 수영

In [47]:
# 2) 함수를 사용하여 대문자를 소문자로 바꾼 문자열 출력
sentence = "PyThon"

print(sentence.lower())

python

## **5. 자료형 문제 (5)**

* 리스트 인덱싱

In [48]:
myList = [2024, 3, 9*9, ['풋살', ['승마', '수영']]]
print(myList)

[2024, 3, 81, ['풋살', ['승마', '수영']]]

In [49]:
# 1) myList 리스트에서 인덱싱 이용하여 3 숫자 출력
myList[1]

3

In [50]:
# 2) myList 리스트에서 인덱싱 이용하여 '승마' 문자 출력
myList[3][1][0]

'승마'

In [51]:
# 3) myList 리스트에서 인덱싱 이용하여 '수영'에서 '영' 문자 출력
myList[3][1][1][1]

'영'

## **6. 자료형 문제 (6)**

* 리스트 변경과 삭제

In [52]:
myList = [2024, 3, 9*9, ['풋살', ['승마', '수영']]]
print(myList)

[2024, 3, 81, ['풋살', ['승마', '수영']]]

In [53]:
# 1) myList 리스트에서 '풋살'을 '야구'로 바꿔서 출력

print(myList)

myList[3][0] = '야구'

print(myList[3][0])
print(myList)

[2024, 3, 81, ['풋살', ['승마', '수영']]]
야구
[2024, 3, 81, ['야구', ['승마', '수영']]]

In [54]:
# 2) myList 리스트에서 '야구' 값 삭제
print(myList)

del myList[3][0]

print(myList)

[2024, 3, 81, ['야구', ['승마', '수영']]]
[2024, 3, 81, [['승마', '수영']]]

## **7. 자료형 문제 (7)**

* 리스트 관련 함수

In [55]:
myList = [2024, 3, 9*9, ['풋살', ['승마', '수영']]]
print(myList)

[2024, 3, 81, ['풋살', ['승마', '수영']]]

In [56]:
# 1) myList 리스트에서 3번째 위치에 "삽입" 문자열 삽입
## [x] 리스트 특정 위치에 삽입
# NOTE: myList.insert(idx, something)
myList.insert(3, "삽입")

print(myList)

[2024, 3, 81, '삽입', ['풋살', ['승마', '수영']]]

## **8. 자료형 문제 (8)**

* 튜플 슬라이싱

In [13]:
# 1) myTuple 튜플에서 슬라이싱을 이용하여 2번째 인덱스부터 3번째 인덱스까지 출력

myTuple = (1,2,3,4,)
print(myTuple[2:4])

(3, 4)

## **9. 자료형 문제 (9)**

* 튜플 연산자

In [58]:
# 1) myTuple1, myTuple2 튜플을 이용하여 아래와 동일한 결과 출력
# (1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6)
myTuple1 = (1, 2, 3)
myTuple2 = (4, 5, 6)

print(myTuple1 * 3 + myTuple2 * 2)

(1, 2, 3, 1, 2, 3, 1, 2, 3, 4, 5, 6, 4, 5, 6)

## **10. 자료형 문제 (10)**

* 딕셔너리 선언

In [14]:
# 1) myDictionary 변수에 아래와 동일한 딕셔너리 선언하여 출력
# {'name': '자신의 영어 이름', 'hobby': 'soccer'}

myDictionary = {
    'name': 'ssoo',
    'hobby': 'soccer'
}

print(myDictionary)

{'name': 'ssoo', 'hobby': 'soccer'}

## **11. 자료형 문제 (11)**

* 딕셔너리 변경과 삭제

In [15]:
# 1) myDictionary 딕셔너리에 key = 'grade', value = [90, 100, 80] 추가하여 출력

myDictionary['grade'] = [90, 100, 80]

print(myDictionary)

{'name': 'ssoo', 'hobby': 'soccer', 'grade': [90, 100, 80]}

In [16]:
# 2) myDictionary 딕셔너리에 key = 'grade', value = [100, 100, 90] 값 수정하여 출력

myDictionary['grade'] = [100, 100, 90]

print(myDictionary)

{'name': 'ssoo', 'hobby': 'soccer', 'grade': [100, 100, 90]}

In [17]:
# 3) myDictionary 딕셔너리에 key = 'grade' 삭제

del myDictionary['grade']

print(myDictionary)

{'name': 'ssoo', 'hobby': 'soccer'}

## **12. 자료형 문제 (12)**

* 딕셔너리 관련 함수

In [80]:
# 1) myDictionary 딕셔너리에서 함수를 이용하여 key, value 쌍 얻기
for key in myDictionary:
    print(key, ":", myDictionary[key])

name : ssoo
hobby : soccer

In [19]:
## 문제 의도
## NOTE: myDictionary.items() - key, value 쌍
print(myDictionary.items())

dict_items([('name', 'ssoo'), ('hobby', 'soccer')])

In [10]:
# 2) myDictionary 딕셔너리에서 함수를 이용하여 key에 'job' 있는지 조사
## [x] 딕셔너리에서 key 조사하기

if 'job' in myDictionary.keys():
    print("키 목록에 있어요")
else:
    print("키 목록에 없어요")

키 목록에 없어요

In [20]:
## 문제 의도
print('job' in myDictionary)

False

## **13. 자료형 문제 (13)**

* 집합 선언

In [22]:
# 1) 리스트 [1, 2, 3, 4] 입력하여 mySet1 집합 선언하여 출력
# 비순서 자료형 : 인덱싱 지원 안 함
mySet1 = set([1, 2, 3, 4])
print(mySet1)

{1, 2, 3, 4}

In [23]:
# 2) 리스트 [2, 4, 6, 8] 입력하여 mySet2 집합 선언하여 출력
# 비순서 자료형 : 인덱싱 지원 안 함
mySet2 = set([2, 4, 6, 8])
print(mySet2)

{8, 2, 4, 6}

## **14. 자료형 문제 (14)**

* 집합 합집합, 교집합, 차집합

In [68]:
# [x] 집합 다시 복습 필요!!

In [24]:
# 1) mySet1, mySet2 집합을 통해 합집합 출력
# 중복을 허용하지 않음
print(mySet1 | mySet2)

{1, 2, 3, 4, 6, 8}

In [25]:
# 2) mySet1, mySet2 집합을 통해 교집합 출력
print(mySet1 & mySet2)

{2, 4}

In [26]:
# 3) mySet1, mySet2 집합을 통해 차집합 출력
print(mySet1 - mySet2)
print(mySet2 - mySet1)

{1, 3}
{8, 6}