# 날짜 및 요일 계산
## datetime
* 날짜와 시간 데이터를 처리하는 파이썬 내장 라이브러리
* 현재 시간에 대한 정보를 원하는 형식으로 지정하여 사용 가능
* `timedelta` 객체를 활용해 날짜/시간 연산 가능

In [14]:
import datetime

### 날짜 표현 `datetime.date(y, m, d)`

In [15]:
day1 = datetime.date(2024, 5, 5)
day1

datetime.date(2024, 5, 5)

### 날짜/시간 표현 `datetime.datetime`

In [16]:
day2 = datetime.datetime(2024, 5, 5, 21, 00, 15)
day2

datetime.datetime(2024, 5, 5, 21, 0, 15)

In [17]:
# 연도
print(day2.year)

# 월
print(day2.month)

# 일
print(day2.day)

# 시간
print(day2.hour)

# 분
print(day2.minute)

# 초
print(day2.second)

2024
5
5
21
0
15

### 날짜/시간 합치기 `combine(day, time)`

In [18]:
day = datetime.date(2024, 5, 5)
time = datetime.time(21, 0, 15)

dt = datetime.datetime.combine(day, time)
print(dt)

2024-05-05 21:00:15

### 현재 날짜 `today()`

In [19]:
datetime.date.today()

datetime.date(2024, 5, 5)

### 현재 시간 `now()`
[📒 datetime.datetime.now()](https://docs.python.org/ko/3.11/library/datetime.html#datetime.datetime.now)<br>
마지막 요소는 마이크로 초(`microsecond`)

In [20]:
datetime.datetime.now()

datetime.datetime(2024, 5, 5, 21, 21, 11, 390409)

### 날짜 계산 `timedelta`
[📒 timedelta 객체](https://docs.python.org/ko/3.11/library/datetime.html#timedelta-objects)

In [21]:
day1 = datetime.datetime(2024, 5, 5)
day2 = datetime.datetime(2024, 11, 8)

In [22]:
# 날짜 뺄셈
day2 - day1

datetime.timedelta(days=187)

In [23]:
# 날짜 덧셈
plus = datetime.timedelta(days=187)
d_day = day1 + plus
d_day

datetime.datetime(2024, 11, 8, 0, 0)

### 요일 판별 `weekday()`
- 0: 월요일
- 1: 화요일
- 2: 수요일
- 3: 목요일
- 4: 금요일
- 5: 토요일
- 6: 일요일

In [24]:
day1 = datetime.date(2024, 5, 5)
day2 = datetime.date(2024, 11, 8)

In [25]:
day1.weekday()

6

In [26]:
day2.weekday()

4